@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$red: rgb(225, 32, 39);
$redcream: #e12027;
$text: #222222;
$simple-space: 20px;
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

header{
    padding: $simple-space;
    background: $red;
    color: #fff;
}
footer{
    padding: $simple-space;
    background:#f5f5f5;
    color: #898989;
    font-size: 11px;
    div{
        strong{
            padding-right: 5px;
        }
        a{
            color: $redcream;
            text-decoration: none;
        }
        padding: 3px;
    }
}
.component-app{
    display: flex;
    min-height: 100vh;    
    flex-direction: column;
}
.app-content{
    flex: 1;
    flex-direction: row;
    display: flex;
}
.main{
    flex: 3;
    padding: $simple-space;
}
.side{
    flex: 2;
    padding: $simple-space;
}

.component-topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.block{
        background: rgba(216, 252, 134, 0.3);
    }
    div{
        padding: 3px;
    }
    .topic-id{
        flex: 1
    }
    .topic-interest{
        flex: 8
    }
    .topic-type{
        flex: 1
    }
}